
#scene{
	
	-fx-background-color:  rgb(134, 99, 80) ;
}

.panelCharacter{
	
	-fx-background-image: url("/imagenes/assets/brick_wall.jpg");
	-fx-background-repeat: repeat-y ;
	-fx-background-color:  rgb(95, 68, 53);
}

.btns{
	
	-fx-background-color: rgb(219, 146, 92);
}

.btns:hover{
	
	-fx-cursor: hand;
	-fx-background-color: rgb(193, 128, 81);
}

.pjButton{
	
	-fx-background-color:  rgb(230,177,138);
}

.pjButton:hover{
	
	-fx-cursor: hand;
	-fx-background-color: rgb(233, 180, 160);
}
