
#scene{
	
	-fx-background-image: url("/imagenes/assets/brick_wall.jpg");
	-fx-background-repeat: repeat ;
	-fx-background-color: rgb(39, 33, 30);
}

#btns{
	
	-fx-background-color: rgb(219, 146, 92);
}

#btns:hover{
	
	-fx-cursor: hand;
	-fx-background-color: rgb(193, 128, 81);
}


#text{
	
	-fx-background-color: rgb(95, 68, 53);
}

.greyPanel{
	
	-fx-background-color: #ddd;
}

.pjButton{
	
	-fx-background-color: #eee;
	-fx-border-style: none ;
}

.pjButton:hover{
	
	-fx-background-color: rgb(240,250,255);
}