.greyPanel{
	
	-fx-background-color: #ddd;
}

.pjButton{
	
	-fx-background-color: rgb(255, 255, 255);
	/*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);*/
	-fx-border-style: none ;
}