

/*
.ventana {
    -fx-border: 10px solid #252932;
    -fx-border-color: #252932;
    -fx-border-width: 1px;
}
.button{

    -fx-background-color: rgb(219, 146, 92);
}

.button:hover{

    -fx-cursor: hand;
    -fx-background-color: rgb(193, 128, 81);
}
*/